.consolelog {
  border: 1px solid red;
}

#service-image {
  width: 400px;
  height: 400px;
}

#profile-picture {
  width: 200px;
  height: 200px;
}

aside {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0;
}

main {
  display: flex;
  flex-direction: row;
  width: 1024px;
  margin: auto;
}

/* principal presentation banner */

.main-scroll #greetings {
  height: 100px;
}

.main-scroll #greetings h1 {
  color: red;
}

.main-scroll #greetings h3 {
  color: blue;
}

.main-scroll #presentation h4 {
  color: blue;
}

/* principal presentation banner end */

/* ----------------------------------------------------------------------------------------- */

/* services I offer  */

.main-scroll #service-compact-section #services-compact .service-compact {
  height: 200px;
  display: flex;
}

.main-scroll
  #service-compact-section
  #services-compact
  .service-compact:nth-child(even) {
  flex-direction: row-reverse;
}

.main-scroll #service-compact-section #services-compact .service-compact .left {
  width: 60%;
}

.main-scroll
  #service-compact-section
  #services-compact
  .service-compact
  .right {
  width: 40%;
}

.main-scroll
  #service-compact-section
  #services-compact
  .service-compact
  #web-pages-description {
  background: steelblue;
}

.main-scroll
  #service-compact-section
  #services-compact
  .service-compact
  #web-pages {
  background: violet;
}

.main-scroll #service-compact-section #services-compact .service-compact #spa {
  background: red;
}

.main-scroll
  #service-compact-section
  #services-compact
  .service-compact
  #spa-description {
  background: wheat;
}

.main-scroll
  #service-compact-section
  #services-compact
  .service-compact
  #salesforce-description {
  background: chartreuse;
}

.main-scroll
  #service-compact-section
  #services-compact
  .service-compact
  #salesforce {
  background: turquoise;
}

/* services I offer end */

/* service expand section*/

.main-scroll #service-section {
  display: flex;
  flex-direction: column;
}

.main-scroll #service-section .service-expand {
  display: flex;
  flex-direction: row;
  height: 600px;
}

.main-scroll #service-section .service-expand:nth-child(even) {
  flex-direction: row-reverse;
}

/* web-pages section item*/

.main-scroll #service-section #web-pages-expand.service-expand {
  background: rgb(4, 5, 80);
}

.main-scroll
  #service-section
  #web-pages-expand.service-expand
  .service-item-media {
  color: blue;
}

.main-scroll
  #service-section
  #web-pages-expand.service-expand
  .service-item-media
  .service-item-media-box {
  display: flex;
  flex-direction: column;
}

.main-scroll
  #service-section
  #web-pages-expand.service-expand
  .service-item-media
  .service-item-media-box
  button {
  background: red;
  align-self: center;
  min-width: 200px;
  min-height: 50px;
  margin-top: 20%;
}

.main-scroll #service-section #web-pages-expand.service-expand p {
  background: red;
}

/* spa section item*/

.main-scroll #service-section #spa-expand.service-expand {
  background: rgb(247, 237, 147);
}
.main-scroll #service-section #spa-expand.service-expand .service-item-media {
  color: blue;
}

.main-scroll
  #service-section
  #spa-expand.service-expand
  .service-item-media
  .service-item-media-box {
  display: flex;
  flex-direction: column;
}

.main-scroll
  #service-section
  #spa-expand.service-expand
  .service-item-media
  .service-item-media-box
  button {
  background: red;
  align-self: center;
  min-width: 200px;
  min-height: 50px;
  margin-top: 20%;
}

.main-scroll #service-section #spa-expand.service-expand p {
  background: red;
}

/* salesforce section item*/

.main-scroll #service-section #salesforce-expand.service-expand {
  background: rgb(216, 95, 95);
}
.main-scroll
  #service-section
  #salesforce-expand.service-expand
  .service-item-media {
  color: blue;
}

.main-scroll
  #service-section
  #salesforce-expand.service-expand
  .service-item-media
  .service-item-media-box {
  display: flex;
  flex-direction: column;
}

.main-scroll
  #service-section
  #salesforce-expand.service-expand
  .service-item-media
  .service-item-media-box
  button {
  background: red;
  align-self: center;
  min-width: 200px;
  min-height: 50px;
  margin-top: 20%;
}

.main-scroll #service-section #salesforce-expand.service-expand p {
  background: red;
}

/* service expand section end */

/* stak images provitional */

#main-stack-image {
  width: 100px;
  height: 100px;
}
